<%- include('partials/header') %>
    <div class="indexContainer">
        <div class="indexContent">
            <div class="indexTitleImg">
                <h1 id="mainTitle">CarTastic</h1><span class="iconCar">🚗</span> <span class="iconSmoke">💨</span>
            </div>
            <p>This website allows you to create, view, update, and delete car model records easily.<br>
            <a href="/cars"><button class="regButton">Browse cars</button></a>
        </div> 
    </div>
    <%- include('partials/footer') %>