<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <form action="/cars" method="post">
        <label for="name">Car name:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="make">Car make:</label>
        <input type="text" name="make" id="make">
        <br>
        <label for="model">Care model:</label>
        <input type="text" name="model" id="model">
        <br>
        <label for="color">Car color:</label>
        <input type="text" name="color" id="color">
        <br>
        <label for="manufacturedate">Manufacture date:</label>
        <input type="date" name="manufacturedate" id="manufacturedate">
        <br>
        <button type="submit">Add car</button>
    </form>
</body>
</html>