<%- include('../partials/header') %>
<div class="formContainer">
    <div class="formContent">
        <h2>Car details</h2>
    <form action="/cars" method="post">
        <div>
            <input type="text" name="name" id="name" required class="inputText" placeholder="Name">
        </div>
        <br>
        <div>
            <input type="text" name="make" id="make" required class="inputText" placeholder="Make">
        </div>
        <br>
        <div>
            <input type="text" name="model" id="model" required class="inputText" placeholder="Model">
        </div>
        <br>
        <div>
        <input type="text" name="color" id="color" required class="inputText" placeholder="Color">
        </div>
        <br>
        <button type="submit" class="addButton">Add car</button>
    </form>
    </div>
</div>
<%- include('../partials/footer') %>
