<%- include('../partials/header') %>
<div class="formContainer">
    <div class="formContent">
    <form action="/cars" method="post">
        <div>
            <label for="name">Car name:</label>
            <input type="text" name="name" id="name" required class="inputText">
        </div>
        <br>
        <div>
            <label for="make">Car make:</label>
            <input type="text" name="make" id="make" required class="inputText">
        </div>
        <br>
        <div>
            <label for="model">Car model:</label>
            <input type="text" name="model" id="model" required class="inputText">
        </div>
        <br>
        <div>
        <label for="color">Car color:</label>
        <input type="text" name="color" id="color" required class="inputText">
        </div>
        <br>
        <button type="submit">Add car</button>
    </form>
    </div>
</div>
<%- include('../partials/footer') %>
